---
layout: default
---
<!--The list of articles-->
{% for post in paginator.posts %}
<article class="post is-post is-post-excerpt">
    <header>
      <h2><a href="{{ post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <span class="byline">{{post.brief}}</span>
    </header>
      <div class="info">
      <span class="date"><span class="month">{{post.date | date: "%b"}}</span> <span class="day">{{post.date | date: "%-d"}}</span><span class="year">,{{post.date | date:",%Y"}} </span></span>
      <ul class="stats">
        <li><a href="{{post.url | prepend: site.baseurl}}#disqus_thread" class="link-icon24 link-icon24-1">comment</a></li>
        <li><a target="_blank" href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href))));" class="link-icon24 link-icon24-3">tweet</a></li>
        <li><a target="_blank" href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));" class="link-icon24 link-icon24-4">share</a></li>
      </ul>
    </div>
    <a href="{{ post.url | prepend: site.baseurl}}" class="image image-full"><img src="{{post.image}}" alt="" /></a>
    <p>
      {{post.excerpt}}
    </p>
</article>
{% endfor%}
<!--The list of list-->
<div class="pager">
  <div class="pages">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="active">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    {% else %}
      <a href="" class="active">Previous</a>
    {% endif %}

      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="">1</a>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
      <li class="page">
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
      {% endfor %}
    <span>&hellip;</span>
  </div>

  {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="button next">Next Page</a>
  {% else %}
      <span class="button next">Next Page</span>
  {% endif %}

</div>
